<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Eliminar Fase ${value.nombre}</title>
    </head>

    <body>
          <h2>Eliminar Fase <div style="color:green"> ${value.nombre}</div></h2>

          <table border="1" width="100%">        
                <tr style="color: purple; font-size: 11pt" >
<!--
                    <th>ID</th>
-->          
		    <th align="center">Nro.</th>
                    <th align="center">Nombre</th>
                    <th align="center">Descripcion</th>
                    <th align="center">Estado</th>		  
                </tr>
                <tr>
<!--
                   <td width="25">${fase.id_fase}</td>
-->
                   <td width="5%" align="left">${value.numero_fase}</td>
                   <td width="35%" align="left">${value.nombre}</td>
                   <td width="51%" align="left">${value.descripcion}</td>
                   <td width="9%" align="left">${value.relacion_estado_fase.nombre_estado}</td>
                </tr>        
          </table>

          <br>
          </br>

          <h3><div style="color:red">DESEA ELIMINAR EL REGISTRO?</div></h3>

          <div class="menu bubplastic horizontal aqua">
	      <ul>
		  <li>
                      <span class="menu_r">
                           <a href="${tg.url('/admin/fase/delete', id_proyecto=value.id_proyecto, 
                                    id_fase=value.id_fase)}">
                             <span class="menu_ar">Eliminar</span>
                           </a>
                      </span>
                  </li>
		  <li>
                      <span class="menu_r">
                           <a href="${tg.url('/admin/fase/listadoFasesPorProyecto', 
                                    id_proyecto=value.id_proyecto)}">
                             <span class="menu_ar">Cancelar</span>
                           </a>
                      </span>
                  </li>
	      </ul>
	      <br class="clearit" />
          </div>

    </body>
</html>



