<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html"/>
      <xi:include href="menuProyecto.html"/>

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Opciones de Usuarios para ${proyecto.nombre}</title>
    </head>

    <body>

            <h2>Opciones de Usuarios para <div style="color:green"> ${proyecto.nombre}</div></h2>	
            ${menu_usuario_proyecto_agregar(proyecto.id_proyecto)}
	    <table border="1" width="100%">
		<tr style="color: purple; font-size: 11pt" align="center" >
<!--
		    <th>ID</th>
-->
		    <th align="center">Nombre y Apellido</th>
		    <th align="center">Nombre de Usuario</th>
		    <th align="center">Asignar</th>		
		</tr>

		<py:for each="usuario in usuarios">
			<tr>
<!--
			    <td>${usuario.id_usuario}</td>
-->
			    <td width="50%" align="left">${usuario.nombre +' '+ usuario.apellido}</td>
			    <td width="40%" align="left">${usuario.nombre_usuario}</td>

			    <td width="10%" align="center"> 
				 <a href="${tg.url('/admin/proyecto/agregarUsuario', 
                                          id_proyecto=id_proyecto, id_usuario=usuario.id_usuario)}">
				    <input class="alignAgregarUsuariosProyecto" name="agregarUsuario" type="button" value=""/>
				 </a>
			    </td>

			</tr>
		</py:for>
	    </table>

	    <p class="pagelist">
		<a class="prevPage" href="${tg.url('/admin/proyecto/usuarioProyecto',page=currentPage.previous_page,
                                          id_proyecto=proyecto.id_proyecto)}">&nbsp;</a>
		${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
		<a class="nextPage" href="${tg.url('/admin/proyecto/usuarioProyecto',page=currentPage.next_page,
                                          id_proyecto=proyecto.id_proyecto)}">&nbsp;</a>
	    </p>

    </body>
</html>
