<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title></title>
    </head>

    <body>
          <h1>Eliminar Proyecto</h1>
          <h3>Desea eliminar el registro?</h3>

          <table border="1">        
                <tr style="color: purple; font-size: 11pt" >
                   <th>ID</th>
<!--               <th>Usuario</th>      -->
                   <th>Nombre</th>
                   <th>Descripcion</th>
                   <th>Fecha</th>
	           <th>Iniciado</th>		  
                </tr>
                <tr>
                    <td>${value.id_proyecto}</td>
<!--                <td>${value.id_usuario}</td>-->
                    <td>${value.nombre}</td>
                    <td>${value.descripcion}</td>
                    <td>${value.fecha}</td>
                    <td>${value.iniciado}</td>
                </tr>        
          </table>

          <div class="menu bubplastic horizontal aqua">
	      <ul>
		  <li>
                      <span class="menu_r">
                           <a href="${tg.url('/admin/proyecto/delete', id_proyecto=value.id_proyecto)}">
                              <span class="menu_ar">Eliminar</span>
                           </a>
                      </span>
                  </li>
		  <li>
                      <span class="menu_r">
                           <a href="${tg.url('/admin/proyecto/listado')}">
                              <span class="menu_ar">Cancelar</span>
                           </a>
                      </span>
                  </li>
	      </ul>
	      <br class="clearit" />
          </div>

    </body>
</html>



