<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html"/>
      <xi:include href="menuPermiso.html"/>

     <head>
	   <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	   <title>Editar Permiso ${value.nombre_permiso}</title>
     </head>

     <body>
	   <h2>Editar Permiso <div style="color:green"> ${value.nombre_permiso}</div></h2>
	   ${menu_superior_editar()}
	   <div py:replace="tmpl_context.form(value)">Form para editar permiso</div>
     </body>
</html>
