<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html"/>
      <xi:include href="menuRelacion.html"/>

<head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title >Lista de Relaciones</title>
</head>

<body>

  <h2>Lista de <div style="color:green">Relaciones</div></h2>
  ${menu_superior(idItemActual, id_proyecto, id_fase, id_tipo_item)}
  <table align="center">
    <tr  valign="top" align="center">
      <td>
        <h3>Antecesores</h3>
        <table border="1">
          <tr style="color: purple; font-size: 11pt" >
            <th>Id</th>
			<th>Codigo</th>
			<th>Descripcion</th>
			<th>Eliminar</th>

          </tr>
          <py:for each="antecesor in antecesores">
            <tr>           
              <td>${antecesor[0].id_item1}</td>
			  <td>${antecesor[1].codigo}</td>
			  <td>${antecesor[1].descripcion}</td>

              <td> <a py:if="tg.predicates.has_any_permission('administracion', 'eliminar_relacion')" href="${tg.url('/relacion/delete', id_relacion = antecesor[0].id_relacion, idItemActual = idItemActual, id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item)}"> 
                     <input class="alignEliminar" name="eliminar" type="button" value="" />
                   </a>				 
              </td>
            </tr>
          </py:for>
        </table>
      </td>
      <td width="55"></td>
		
      <td>
        <h3>Hijos</h3>
        <table border="1">
          <tr style="color: purple; font-size: 11pt">
            <th>Id</th>
			<th>Codigo</th>
			<th>Descripcion</th>
            <th>Eliminar</th>
       
          </tr>
          <py:for each="hijo in hijos">
            <tr>           
              <td>${hijo[0].id_item2}</td>
			  <td>${hijo[1].codigo}</td>
			  <td>${hijo[1].descripcion}</td>
              <td> <a py:if="tg.predicates.has_any_permission('administracion', 'eliminar_relacion')" href="${tg.url('/relacion/delete', id_relacion = hijo[0].id_relacion, idItemActual = idItemActual, id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item)}"> 
                     <input class="alignEliminar" name="eliminar" type="button" value="" />
                   </a>				 
              </td>
            </tr>
          </py:for>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
