<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Eliminar Item ${nombre_tipo_item}</title>
    </head>

    <body>
          <h2>Eliminar Item <div style="color:green"> ${nombre_tipo_item}</div></h2>
          <h3>Desea eliminar el registro?</h3>

              <table border="1">        
                    <tr style="color: purple; font-size: 11pt" >
                       <th>ID</th>
                       <th>Tipo de Item</th>
                       <th>Linea Base</th>
                       <th>Descripcion</th>
                       <th>Complejidad</th>
	               <th>Prioridad</th>
	               <th>Estado</th>
	               <th>Archivo Externo</th>
	               <th>Version</th>
	               <th>Observacion</th>
	               <th>Fecha de Modificacion</th>
                    </tr>
                    <tr>
                       <td>${item.id_item}</td>
                       <td>${item.id_tipo_item}</td>
                       <td>${item.id_linea_base}</td>
                       <td>${item.descripcion}</td>
                       <td>${item.complejidad}</td>
                       <td>${item.prioridad}</td>
	               <td>${item.estado}</td>
	               <td>${item.archivo_externo}</td>
	               <td>${item.version}</td>
    	               <td>${item.observacion}</td>
	               <td>${item.fecha_modificacion}</td>
	    
                    </tr>        
              </table>

              <div class="menu bubplastic horizontal aqua">
	           <ul>
		        <li>
                             <span class="menu_r">
                                   <a href="${tg.url('/item/delete', id_proyecto=id_proyecto, 
                                              id_fase=id_fase, id_tipo_item=id_tipo_item, id_item=item.id_item)}">
                                      <span class="menu_ar">Eliminar</span>
                                   </a>
                             </span>
                        </li>
		        <li>
                             <span class="menu_r">
                                   <a href="${tg.url('/item/listado', id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item)}">
                                      <span class="menu_ar">Cancelar</span>
                                   </a>
                             </span>
                        </li>
	           </ul>
	          <br class="clearit" />
              </div>

    </body>
</html>



