<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Eliminar Item ${nombre_tipo_item}</title>
    </head>

    <body>
          <h2>Eliminar Item <div style="color:green"> ${nombre_tipo_item}</div></h2>

              <table border="1" width="100%">        
                    <tr style="color: purple; font-size: 11pt" >
<!--
                       <th>ID</th>
                       <th>Tipo</th>
                       <th>LB</th>
-->
                       <th align="center">Codigo</th>
                       <th align="center">Descripcion</th>
                       <th align="center">Complejidad</th>
	               <th align="center">Prioridad</th>
	               <th align="center">Estado</th>
<!--
	               <th>Archivo Externo</th>
-->
	               <th align="center">Version</th>
	               <th align="center">Observacion</th>
<!--
	               <th>Fecha de Modificacion</th>
-->
                    </tr>
                    <tr>
<!--
                         <td>${item.id_item}</td>
                         <td>${item.id_tipo_item}</td>
		         <td>${item.id_linea_base}</td>
-->
                         <td width="15%" align="left">${item.codigo}</td>
		         <td width="30%" align="left">${item.descripcion}</td>
		         <td width="9%" align="left">${item.complejidad}</td>
		         <td width="8%" align="left">${item.prioridad}</td>
		         <td width="8%" align="left">${item.estado}</td>
<!--
		         <td>${item.archivo_externo}</td>
-->
		         <td width="5%" align="left">${item.version}</td>
		         <td width="25%" align="left">${item.observacion}</td>
<!--
		         <td>${item.fecha_modificacion}</td>
-->	    
                    </tr>        
              </table>

              <br>
              </br>

              <h3><div style="color:red">DESEA ELIMINAR EL REGISTRO?</div></h3>

              <div class="menu bubplastic horizontal aqua">
	           <ul>
		        <li>
                             <span class="menu_r">
                                   <a href="${tg.url('/item/delete', id_proyecto=id_proyecto, 
                                              id_fase=id_fase, id_tipo_item=id_tipo_item, id_item=item.id_item)}">
                                      <span class="menu_ar">Eliminar</span>
                                   </a>
                             </span>
                        </li>
		        <li>
                             <span class="menu_r">
                                   <a href="${tg.url('/item/listado', id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item)}">
                                      <span class="menu_ar">Cancelar</span>
                                   </a>
                             </span>
                        </li>
	           </ul>
	          <br class="clearit" />
              </div>

    </body>
</html>



