<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />
      <xi:include href="menuItems.html" />

    <head>
           <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
           <title>Detalles del Item a Revivir</title>
    </head>

    <body>
            <h2>Detalles del <div style="color:green">Item a Revivir</div></h2>
            ${menu_superior_listado_detalles_revivir_desde_fase(id_proyecto, id_fase, id_tipo_item)}

            <table border="1" width="100%">
		  <tr style="color: purple; font-size: 11pt" align="center" >
                     <th align="center">Nombre Atributo</th>
                     <th align="center">Valor</th>
                  </tr>

                  <py:for each="detalle in item_detalle">
                     <tr>
		         <td width="40%" align="left">${detalle.nombre_atributo}</td>
		         <td width="60%" align="left">${detalle.valor}</td>
                      </tr>
                  </py:for>
             </table>

	     <p class="pagelist">
	       <a class="prevPage" href="${tg.url('/item/detalles_revivir_desde_fase',page=currentPage.previous_page,
                                         id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item, 
                                         id_item=id_item)}">&nbsp;</a>
		 ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
	       <a class="nextPage" href="${tg.url('/item/detalles_revivir_desde_fase',page=currentPage.next_page,
                                         id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item,
                                         id_item=id_item)}">&nbsp;</a>
	    </p>

    </body>
</html>
