<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html"/>

     <head>
	   <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	   <title>Calculo de impacto</title>
     </head>

     <body>
	   <h2>CALCULO DE IMPACTO</h2>       
       <h2><py:for each="sumafase in sumaImpactoPorFases">
			    <ul>${sumafase[0].nombre}: ${sumafase[1]}</ul>                
       </py:for></h2>
<h2>El impacto total del cambio del item es : ${impactoTotal}</h2>

       <img src='../images/example2_graph.png' alt="Smiley face"/>
       
     </body>
</html>
