<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />
      <xi:include href="menuItems.html" />

    <head>
           <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
           <title>Items del Tipo ${nombre_tipo_item}</title>
    </head>

    <body>
            <h2>Items del Tipo <div style="color:green">${nombre_tipo_item}</div></h2>
            ${menu_superior_items(id_proyecto, id_fase, id_tipo_item)}

            <table border="1" width="100%">
		  <tr style="color: purple; font-size: 11pt" align="center" >
<!--
                     <th>ID</th>
                     <th>Tipo</th>
                     <th>LB</th>
-->
                     <th align="center">Codigo</th>
                     <th align="center">Descripcion</th>
                     <th align="center">Complejidad</th>
	             <th align="center">Prioridad</th>
	             <th align="center">Estado</th>
<!--
	             <th>Archivo Externo</th>
-->
	             <th align="center">Version</th>
	             <th align="center">Observacion</th>
<!--
	             <th>Fecha de Modificacion</th>
-->
                     <th align="center">Acciones</th>
                  </tr>

                  <py:for each="item in items">
                     <tr>
<!--
                         <td>${item.id_item}</td>
                         <td>${item.id_tipo_item}</td>
		         <td>${item.id_linea_base}</td>
-->
                         <td width="15%" align="left">${item.codigo}</td>
		         <td width="29%" align="left">${item.descripcion}</td>
		         <td width="9%" align="left">${item.complejidad}</td>
		         <td width="8%" align="left">${item.prioridad}</td>
		         <td width="8%" align="left">${item.estado}</td>
<!--
		         <td>${item.archivo_externo}</td>
-->
		         <td width="5%" align="left">${item.version}</td>
		         <td width="15%" align="left">${item.observacion}</td>
<!--
		         <td>${item.fecha_modificacion}</td>
-->
                         <td width="11%" align="left">		
			     <ul class="menu acciones">
				<li class="top">
                                   <a href="#" class="top_link"><span>ACCIONES</span></a>
				      <ul class="sub">
 					<li py:if="tg.predicates.has_any_permission('administracion', 'calcular_impacto') and permisosFase.count('calcular_impacto') == 1">
                                             <a   href="${tg.url('/item/calcularImpacto', id_proyecto=id_proyecto, itemActual=item.id_item)}">Impacto
					     </a>
                                         </li>
					 <li py:if="tg.predicates.has_any_permission('administracion', 'aprobar_item') and permisosFase.count('aprobar_item') == 1">
                                             <a  href="${tg.url('/item/aprobar', id_proyecto=id_proyecto, id_fase=id_fase,
                                                      id_tipo_item=id_tipo_item, id_item=item.id_item)}">Aprobar
					     </a>
                                         </li>
			                 <li py:if="tg.predicates.has_any_permission('administracion', 'editar_item') and permisosFase.count('editar_item') == 1">
                                             <a  href="${tg.url('/item/editar', id_proyecto=id_proyecto, id_fase=id_fase,
                                                      id_tipo_item=id_tipo_item, id_item=item.id_item)}">Editar		                    
				             </a>
                                         </li>
					 <li py:if="tg.predicates.has_any_permission('administracion', 'eliminar_item') and permisosFase.count('eliminar_item') == 1">
                                             <a  href="${tg.url('/item/confirmar_eliminar', id_proyecto=id_proyecto, id_fase=id_fase,
                                                      id_tipo_item=id_tipo_item, id_item=item.id_item)}">Eliminar
				             </a>
                                         </li>
					 <li py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')">
                                             <a  href="${tg.url('/item/listado_detalles', id_proyecto=id_proyecto, id_fase=id_fase,
                                                      id_tipo_item=id_tipo_item, id_item=item.id_item)}">Detalles
					     </a>
                                         </li>
					 <li py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')">
                                             <a  href="${tg.url('/item/listado_revertir', id_proyecto=id_proyecto, id_fase=id_fase,
                                                      id_tipo_item=id_tipo_item, id_item=item.id_item)}">Revertibles
					     </a>
                                         </li>
					 <li py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')">
                                             <a  href="${tg.url('/relacion/listado', id_item=item.id_item, id_proyecto=id_proyecto, 							     id_fase=id_fase,id_tipo_item=id_tipo_item)}">Relaciones
					     </a>
                                         </li>
					 <li>
                                             <a href="${tg.url('/item/archivos_adjuntos', id_item=item.id_item, id_proyecto=id_proyecto, 							     id_fase=id_fase, id_tipo_item=id_tipo_item)}">Archivos
					     </a>
                                         </li>
				       </ul>
				 </li>	
							
                             </ul>
                         </td>

<!--
                         <td width="70">
			    <ul class="menu acciones">
			       <li class="top">
                                  <a href="#" class="top_link"><span>FASES</span></a>
			            <ul class="sub">
			               <li>
                                           <a href="${tg.url('/admin/fase/listadoFasesPorProyecto', 
                                                    id_proyecto=proyecto.id_proyecto)}">Fases</a></li>
			            </ul>
			       </li>	
			    </ul>
                         </td>

                         <td>

                             <a href="${tg.url('/item/editar', id_proyecto=id_proyecto, id_fase=id_fase,
                                        id_tipo_item=id_tipo_item, id_item=item.id_item)}">
                                <input class="alignEditar" name="editar" type="button" value="" />
                             </a>
		
                             <a href="${tg.url('/item/confirmar_eliminar', id_proyecto=id_proyecto, id_fase=id_fase,
                                        id_tipo_item=id_tipo_item, id_item=item.id_item)}"> 
                                <input class="alignEliminarItem" name="eliminar" type="button" value=""/>
                             </a>
                             <a href="${tg.url('/item/listado_detalles', id_proyecto=id_proyecto, id_fase=id_fase,
                                        id_tipo_item=id_tipo_item, id_item=item.id_item)}"> 
                                <input class="alignListarDetalleItem" name="detalles" type="button" value=""/>
                             </a>
                             <a href="${tg.url('/item/listado_revertir', id_proyecto=id_proyecto, id_fase=id_fase,
                                        id_tipo_item=id_tipo_item, id_item=item.id_item)}"> 
                                <input class="alignRevertir" name="revertir" type="button" value=""/>
                             </a>
                         </td>
-->
                      </tr>
                  </py:for>
             </table>

	     <p class="pagelist">
	       <a class="prevPage" href="${tg.url('/item/listado',page=currentPage.previous_page,
                                         id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item)}">&nbsp;</a>
		 ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
	       <a class="nextPage" href="${tg.url('/item/listado',page=currentPage.next_page,
                                         id_proyecto=id_proyecto, id_fase=id_fase, id_tipo_item=id_tipo_item)}">&nbsp;</a>
	    </p>

    </body>
</html>
