<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html" />
      <xi:include href="menuItems.html" />

    <head>
           <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
           <title>Proyecto: ${nombre_proyecto}</title>
    </head>

    <body>
            <h2><li>Proyecto: <a style="color:green"><b>"${nombre_proyecto}"</b></a></li></h2>
            <h3><li><a style="color:purple; font-size: 12pt"><b><i>Fases</i></b></a></li></h3>
            ${menu_superior_fases()}

            <table border="1" width="100%">
	          <tr style="color: purple; font-size: 11pt" align="center">
<!--
                      <th>ID</th>
-->          
		     <th align="center">Nro.</th>
                     <th align="center">Nombre</th>
                     <th align="center">Descripcion</th>
                     <th align="center">Estado</th>
		     <th align="center">Acciones</th>
                  </tr>

                 <py:for each="fase in fases">
                     <tr>
<!--
                        <td width="25">${fase.id_fase}</td>
-->
                        <td width="5%" align="left">${fase.numero_fase}</td>
                        <td width="30%" align="left">${fase.nombre}</td>
                        <td width="40%" align="left">${fase.descripcion}</td>
                        <td width="14%" align="left">${fase.relacion_estado_fase.nombre_estado}</td>

                         <td width="11%" align="left">
			    <ul class="menu acciones">
			       <li class="top">
                                  <a href="#" class="top_link"><span>ACCIONES</span></a>
				    <ul class="sub">
				       <li>
                                           <a py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')" href="${tg.url('/item/tipoItems', id_proyecto=id_proyecto,
                                                   id_fase=fase.id_fase)}">Creacion de Items		                    
				           </a>
                                       </li>					 
                                       <li>
                                           <a py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')" href="${tg.url('/item/listado_aprobar', id_proyecto=id_proyecto,
                                                   id_fase=fase.id_fase)}">Aprobar Items
				           </a>
                                       </li>
				       <li>
                                           <a py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')" href="${tg.url('/item/revertir_desde_fase', id_proyecto=id_proyecto,
                                                   id_fase=fase.id_fase)}">Revertir Items
					   </a>
                                       </li>
				       <li>
                                           <a py:if="tg.predicates.has_any_permission('administracion', 'desarrollo')" href="${tg.url('/item/revivir_desde_fase', id_proyecto=id_proyecto,
                                                   id_fase=fase.id_fase)}">Revivir Items
					   </a>
                                       </li>									
				    </ul>
				</li>	
			     </ul>
                         </td>
<!--
		         <td width="50" align="center">
			    <a href="${tg.url('/item/tipoItems', id_proyecto=id_proyecto, id_fase=fase.id_fase)}"> 
                               <input class="alignaddItem" name="tipoItem" type="button" value=""/>
                            </a>
		         </td>
-->
                    </tr>
                 </py:for>
             </table>

	     <p class="pagelist">
	        <a class="prevPage" href="${tg.url('/item/fases',page=currentPage.previous_page,
                                         id_proyecto=id_proyecto)}">&nbsp;</a>
		   ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
	        <a class="nextPage" href="${tg.url('/item/fases',page=currentPage.next_page,
                                         id_proyecto=id_proyecto)}">&nbsp;</a>
	     </p>

    </body>
</html>

