<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html"/>
      <xi:include href="menuUsuario.html"/>

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Lista de Roles</title>
    </head>

    <body>

            <h1>Roles de ${usuario.nombre_usuario}</h1>

	    <table border="1">
		<tr style="color: purple; font-size: 11pt" align="center" >
		    <th>ID</th>
		    <th>Nombre</th>
		    <th>Descripcion</th>
		    <th>Accion</th>		
		</tr>

		<py:for each="rol in roles">
			<tr>
			    <td>${rol.id_rol}</td>
			    <td>${rol.nombre_rol}</td>
			    <td>${rol.descripcion}</td>

			    <td> 
				 <a href="${tg.url('/admin/usuario/eliminar_rol_usuario', id_rol=rol.id_rol, id_usuario=usuario.id_usuario)}">
				    <input class="alignEliminar" name="eliminar" type="button" value=""/>
				 </a>
			    </td>

			</tr>
		</py:for>
	    </table>

	    <p class="pagelist">
		<a class="prevPage" href="/list?page=${currentPage.previous_page}">&nbsp;</a>
		${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
		<a class="nextPage" href="/list?page=${currentPage.next_page}">&nbsp;</a>
	    </p>

    </body>
</html>
