<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

     <xi:include href="master.html" />

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Eliminar Usuario ${value.nombre_usuario}</title>
    </head>

    <body>
          <h2>Eliminar Usuario <div style="color:green"> ${value.nombre_usuario}</div></h2>

	  <table border="1" width="100%">        
	        <tr style="color: purple; font-size: 11pt" >
<!--
                   <th>ID</th>
-->
                   <th align="center">Nombre y Apellido</th>
                   <th align="center">Username</th>
                   <th align="center">Direccion</th>
		   <th align="center">Telefono</th>
		   <th align="center">E-mail</th>		  
		</tr>
	        <tr>
<!--
                   <td>${usuario.id_usuario}</td>
-->
                   <td width="30%" align="left">${value.nombre} ${value.apellido}</td>
                   <td width="20%" align="left">${value.nombre_usuario}</td>
                   <td width="18%" align="left">${value.direccion}</td>
                   <td width="12%" align="left">${value.telefono}</td>
                   <td width="20%" align="left">${value.email}</td>
	        </tr>        
	  </table>

          <br>
          </br>

          <h3><div style="color:red">DESEA ELIMINAR EL REGISTRO?</div></h3>

          <div class="menu bubplastic horizontal aqua">
	      <ul>
		   <li>
                        <span class="menu_r">
                             <a href="${tg.url('/admin/usuario/delete', id_usuario=value.id_usuario)}">
                                <span class="menu_ar">Eliminar</span>
                             </a>
                        </span>
                   </li>
		   <li>
                        <span class="menu_r">
                             <a href="${tg.url('/admin/usuario/listado')}">
                                <span class="menu_ar">Cancelar</span>
                             </a>
                        </span>
                   </li>
	      </ul>
	      <br class="clearit" />
           </div>

    </body>
</html>



