<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="menu_superior">
  <div id="sb_top" class="menu_superior">
      <a href="${tg.url('/admin/usuario/nuevo')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Nuevo" type="button" value="Nuevo"/></a>
<!--
<a href="${tg.url('/admin/usuario')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Cancelar" type="button" value="Cancelar"/></a>
<a href="${tg.url('/admin/usuario/listado')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Listado" type="button" value="Listado"/></a>
-->
  </div>
</py:def>



<py:def function="menu_superior_nuevo">
  <div id="sb_top" class="menu_superior">
<!--
      <a href="${tg.url('/admin/usuario/nuevo')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Nuevo" type="button" disabled="disabled" value="Nuevo"/></a>
-->
<a href="${tg.url('/admin/usuario/listado')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Cancelar" type="button" value="Cancelar"/></a>
<!--
<a href="${tg.url('/admin/usuario/listado')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Listado" type="button" disabled="disabled" value="Listado"/></a>
-->
  </div>
</py:def>



<py:def function="menu_superior_editar">
  <div id="sb_top" class="menu_superior">
<!--
      <a href="${tg.url('/admin/usuario/nuevo')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Nuevo" type="button" disabled="disabled" value="Nuevo"/></a>
-->
<a href="${tg.url('/admin/usuario/listado')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Cancelar" type="button" value="Cancelar"/></a>
<!--
<a href="${tg.url('/admin/usuario/listado')}" class="${('', 'active')[defined('page') and page=='about']}"><input class="botones" name="Listado" type="button" disabled="disabled" value="Listado"/></a>
-->
  </div>
</py:def>

</html>
