<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      <xi:include href="master.html"/>
      <xi:include href="menuRol.html"/>

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Opciones de Permisos para ${rol.nombre_rol}</title>
    </head>

    <body>

            <h2>Opciones de Permisos para <div style="color:green"> ${rol.nombre_rol}</div></h2>	
            ${menu_rol_permiso_agregar(rol.id_rol)}
	    <table border="1">
		<tr style="color: purple; font-size: 11pt" align="center" >
		    <th>ID</th>
		    <th>Nombre</th>
		    <th>Descripcion</th>
		    <th>Accion</th>		
		</tr>

		<py:for each="permiso in permisos">
			<tr>
			    <td>${permiso.id_permiso}</td>
			    <td>${permiso.nombre_permiso}</td>
			    <td>${permiso.descripcion}</td>

			    <td> 
				 <a href="${tg.url('/admin/rol/agregarPermiso', id_rol=id_rol, id_permiso=permiso.id_permiso)}">
				    <input class="alignAgregarPermisosRol" name="agregarPermiso" type="button" value=""/>
				 </a>
			    </td>

			</tr>
		</py:for>
	    </table>

	    <p class="pagelist">
		<a class="prevPage" href="/list?page=${currentPage.previous_page}">&nbsp;</a>
		${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
		<a class="nextPage" href="/list?page=${currentPage.next_page}">&nbsp;</a>
	    </p>

    </body>
</html>
