<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer">
  <div class="flogo">
    <!--
	<img src="${tg.url('/images/footer.png')}" alt="SAP" />
    
        <p><a href="http://www.turbogears.org/">Elaborado con TurboGears 2.1</a></p>
   -->  
</div>
  <div class="foottext">
    <p>Sistema elaborado con TurboGears 2.1, un open source front-to-back
      framework de desarrollo web escrito en Python</p>
  </div>
  <div class="clearingdiv"></div>
</div>
</py:def>
</html>
