<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

     <xi:include href="master.html" />

    <head>
          <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
          <title>Bienvenidos a SAP, 2011</title>
    </head>

    <body>
          <div id="Bienvenida">
<!--
              <h2><div class="bienvenida" style="color:green"> Bienvenidos!</div></h2>
-->
              <div id="getting_started">
                  <h2>Presentación</h2>
                      <p>SAP es un sistema que permite la gestión de los requerimientos y la completa trazabilidad de los mismos con los diversos componentes generados en las fases de análisis, diseño e implementación de las distintas fases del proyecto. Para cada proyecto se pueden definir fases especificas.</p>

                  <h3>Se compone de los siguientes módulos:</h3>
                      <ol id="getting_started_steps">
                         <li class="getting_started">
                            <h3>Módulo de Administración:</h3>
                                <p> Módulo que permite la administración de usuarios y roles, ademas de configuraciones del sistema.</p>
                         </li>
                         <li class="getting_started">
                            <h3>Módulo de Gestión de Configuración</h3>
                                <p> Módulo que permite la generación de lineas bases. Permite el control de las lineas bases generadas por proyecto y la administración de los cambios de los elementos que se encuentren en las lineas bases. </p>
                         </li>
                         <li class="getting_started">
                            <h3>Módulo de Desarrollo</h3>
                                <p> Módulo que administra todos los elementos de los proyectos.</p>
                         </li>
                     </ol>
              </div>
              <div class="clearingdiv" />
  
          </div>
          <div class="clearingdiv" />
    </body>
</html>
